@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Hero
        - Navigation
        - Footer
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */ 
*,
*:after,
*:before {
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

h1,
h2 {
        font-family: 'Pacifico', cursive;
}

nav {
        font-family: 'Open Sans', sans-serif;
}

html {
        font: 1rem 'Roboto Slab', serif;
        line-height: 2em;
        color: #00515D;
}

@media screen and (min-width: 768px) {
        
}

@media screen and (min-width: 1024px) {
        
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */
/* ----- TYPOGRAPHY ----- */ 

h1,
h2,
h3,
nav a {
        color: #00B0A3;;
}

h2,
span {
        font-size: 2rem;
}

h1 {
        font-size: 3.5rem;
        margin-bottom: .75em;
}

h1 + div p {
        line-height: 2em;
}

h2 {
        margin: 0.25em 0;
}

h3 {
        margin: 0;
}



@media screen and (min-width: 768px) {
        /* ----- TYPOGRAPHY ----- */ 
}

@media screen and (min-width: 1024px) {
        /* ----- TYPOGRAPHY ----- */ 
        
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 95%;
        margin: 0 auto;
}

.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}

.img-responsive {
        max-width: 100%;
}

[class*='col-'] {
        padding: 10px 5px;  /* ----- Gutter ----- */
}

.col-sm-1 {
        width: calc(100% * 1 / 12);
}

.col-sm-2 {
        width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
}

.col-sm-3 {
        width: calc(100% * 3 / 12); /* ----- 4 times ----- */
}

.col-sm-4 {
        width: calc(100% * 4 / 12);
}

.col-sm-5 {
        width: calc(100% * 5 / 12);
}

.col-sm-6 {
        width: calc(100% * 6 / 12);
}

.col-sm-7 {
        width: calc(100% * 7 / 12);
}

.col-sm-8 {
        width: calc(100% * 8 / 12);
}

.col-sm-9 {
        width: calc(100% * 9 / 12);
}

.col-sm-10 {
        width: calc(100% * 10 / 12);
}

.col-sm-11 {
        width: calc(100% * 11 / 12);
}

.col-sm-12 {
        width: calc(100% * 12 / 12);
}

@media screen and (min-width: 768px) {
        .wrapper {
                width: 80%;
        }

        [class*='col-'] {
                padding: 10px;
        }

        .col-md-1 {
                width: calc(100% * 1 / 12);
        }
        
        .col-md-2 {
                width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
        }
        
        .col-md-3 {
                width: calc(100% * 3 / 12); /* ----- 4 times ----- */
        }
        
        .col-md-4 {
                width: calc(100% * 4 / 12);
        }
        
        .col-md-5 {
                width: calc(100% * 5 / 12);
        }
        
        .col-md-6 {
                width: calc(100% * 6 / 12);
        }
        
        .col-md-7 {
                width: calc(100% * 7 / 12);
        }
        
        .col-md-8 {
                width: calc(100% * 8 / 12);
        }
        
        .col-md-9 {
                width: calc(100% * 9 / 12);
        }
        
        .col-md-10 {
                width: calc(100% * 10 / 12);
        }
        
        .col-md-11 {
                width: calc(100% * 11 / 12);
        }
        
        .col-md-12 {
                width: calc(100% * 12 / 12);
        }
}

@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }

        .col-lg-1 {
                width: calc(100% * 1 / 12);
        }
        
        .col-lg-2 {
                width: calc(100% * 2 / 12);  /* ----- 6 times ----- */
        }
        
        .col-lg-3 {
                width: calc(100% * 3 / 12); /* ----- 4 times ----- */
        }
        
        .col-lg-4 {
                width: calc(100% * 4 / 12);
        }
        
        .col-lg-5 {
                width: calc(100% * 5 / 12);
        }
        
        .col-lg-6 {
                width: calc(100% * 6 / 12);
        }
        
        .col-lg-7 {
                width: calc(100% * 7 / 12);
        }
        
        .col-lg-8 {
                width: calc(100% * 8 / 12);
        }
        
        .col-lg-9 {
                width: calc(100% * 9 / 12);
        }
        
        .col-lg-10 {
                width: calc(100% * 10 / 12);
        }
        
        .col-lg-11 {
                width: calc(100% * 11 / 12);
        }
        
        .col-lg-12 {
                width: calc(100% * 12 / 12);
        }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

#layout > section:first-child,
#benefits > div:first-child,
#benefits div:last-child,
#benefits div:last-child section div:first-child,
header div:nth-child(2),
header div:first-child,
footer {
        text-align: center;
}

#layout section:last-child p,
#benefits div:last-child header + p,
#systems div:last-child p {
        margin: 0;
}

#systems div:last-child div:first-child,
#systems div:last-child div:last-child {
        padding: 0;
}


#testing div:first-child {
        background: url("../img/balloon-rainbow.jpg") no-repeat;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
}

#systems div:nth-child(2) section:nth-child(2) {
        display: flex;
        align-content: flex-start;
}




/* ----- HERO ----- */
header > div:nth-child(2),
#layout > section:first-child {
        background-color: #FFD8DB;
        padding: 0 .75rem;
}

header div:last-child h1 + div {
        width: 324px;
        margin: 0 auto;
}

header div:last-child section {
        background: url("../img/bg-balloons.jpg") no-repeat;
        -moz-background-size: contain;
        -webkit-background-size: contain;
        -o-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
        padding: 4em 0;
        
}


/* ----- NAVIGATION ----- */
nav a,
li {
        text-decoration: none;
        list-style-type: none;
}

header a {
        margin-left: 1.5rem;
}

footer li {
        margin-top: .5em;
}

header li {
        display: inline-block;
}

header > div:first-child {
        border-bottom: 3px #FFD8DB solid;
}

ul {
        padding-left: 0;
}



/* ----- FOOTER ----- */
footer p,
h4 {
        margin: 0;
}

footer {
        border-top: 5px #FFD8DB solid;
}



@media screen and (min-width: 768px) {
        /* #systems div:first-child div,
        #layout section:last-child div:first-child,
        #testing section {
                text-align: center;
        }

        #benefits div:last-child,
        #benefits div:last-child section div:first-child {
                text-align: left;
        }

        /* ----- NAVIGATION ----- */
        nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: center;
        }    
               */
}

@media screen and (min-width: 1024px) {
        #systems div:first-child div,
        #systems div:last-child {
                text-align: center;
        }

        #layout section:first-child {
                flex-direction: column;
                justify-content: center;
                order: 1;
        }

        #benefits div:last-child {
                text-align: left;
        }

         
/* ----- NAVIGATION ----- */
        header nav {
                text-align: right;
        }

        header .row > div {
                text-align: left;
        }

        nav {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-content: center;
        }

/* ----- FOOTER ----- */
        footer nav {
                flex-direction: column;
                justify-content: center;
                order: 1;
}

}
/*--------------------------------------------------------------
    7.0 - UTILIY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */
.col-center {
        justify-content: center;
}



